<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/styles/main.css" rel="stylesheet">

</head>

<body style="background-color:	#7FA1C3 !important;">
    <div class="container d-flex align-items-center justify-content-center flex-column" style="min-height: 100vh;">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#481E14" class="bi bi-cart-check-fill"
            viewBox="0 0 16 16">
            <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708" />
        </svg>
        <h1 style="color: #201E43;">Order successful!</h1>
        <h5 style="color: #201E43;">order has been placed.you'll receive an order update once your parcel has been
            shipped</h5>
        <form action="/" method="get"><button type="submit" formaction="/" formmethod="get"
                class="btn btn-primary mt-3">Continue shopping</button></form>

    </div>
</body>

</html>